## twitch_chat
# ignore env variables
/twitch_chat/environment.yml

# all .idea files
*.idea

## Plugin-specific files:

# IntelliJ
out/

### Linux ###
*~

# Linux trash folder which might appear on any partition or disk
.Trash-*



